.header {
  padding: 0.6rem;
}

.container {
  height: 100%;
  width: 100%;

  background-color: hsla(0, 0%, 27%, 0.7);
  backdrop-filter: blur(40px);

  border-radius: inherit;
  //

  display: grid;
  grid-template-rows: auto auto 1fr;
}

.showArea {
  font-size: 2.618rem;
  color: white;
  text-align: end;
  font-weight: 200;

  padding: 0.5rem 1rem;
}
