.container {
  height: 100%;
  display: block;
  position: relative;

  height: auto;
}

.menuButton {
  font-weight: 500;

  border-radius: 0.25rem;

  position: relative;

  padding: 0 0.5rem;

  &.defaultMenu {
    font-weight: 600 !important;
    margin: 0 6px;
  }

  &::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;
    width: 100%;

    border-radius: inherit;

    transform: scale(var(--scale), var(--scale));
    transform-origin: center center;

    transition: transform 100ms ease;

    background-color: hsla(var(--app-color-grey-100-hsl), 0.3);
  }
}
