.container {
  background-color: var(--app-color-light);

  border-radius: inherit;

  &.dark {
    box-shadow: inset 0 0 0 0.9px hsla(var(--app-color-dark-hsl), 0.2),
      0 0 0 1.5px hsla(var(--app-color-light-hsl), 0.5);
  }
}

$title-bar-height: 40px;

.titleBar {
  padding: 1rem 1rem;

  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  height: $title-bar-height;
}

.mainArea {
  color: var(--app-color-light-contrast);

  margin-top: $title-bar-height;
  height: calc(100% - #{$title-bar-height});
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .calendarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .month {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .year {
      font-size: 1.5rem;
    }
  }
}
