.container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr;

  // background-color: var(--app-color-light);

  position: relative;

  border-radius: 0.75rem;
  box-shadow: 0 33px 81px rgba(0, 0, 0, 0.31);
}

.titleBar {
  height: 2.5rem;
  width: 100%;

  padding: 0 0.75rem;
}

.divider {
  width: 100%;
  height: 0.2px;

  background-color: hsla(var(--app-color-dark-hsl), 0.2);
}
